* {
  /* border-top: 5px solid blue;  it's applied to every elements*/
  /* margin: 0; */
  margin: 0;
  padding: 0;
}

/* Inheritaed values have the lowest priority*/

body {
  color: #444;
  font-family: sans-serif;
  position: relative;

  /* border-top: 5px solid blue; it will not inherited to all child elements */
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;

  /* height: 80px; */
}
/* h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
} */

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.post-header {
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 15px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
  background-color: #f7f7f7;
}

/* footer {
  background-color: #f7f7f7;
} */
.related {
  list-style: none;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

/* pseudo class */
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(odd) {
  color: red;
} */

/* styling links*/
/* order should be specific lvha*/

/* pseudo class has more priority than simple element, here a css will no used*/

a {
  color: orangered;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline solid orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-img {
  width: 100%;
  height: auto;
}

/* priprity in same element: !important > id > class > element , never use !important*/
/* #copyright {
  background-color: #f7f7f7;
  color: #444;
}

.copyright {
  background-color: black;
  color: white;
  font-weight: bold;
  font-style: oblique;
}

.test-class {
  background-color: rgba(11, 124, 11, 0.466);
  color: #fff;
  font-weight: 60px;
  font-style: normal;
}

footer p {
  background-color: orange !important;
  color: #fff;
  font-weight: bold;
  font-style: italic;
} */

/* =========================================================================   */

nav a:link {
  /* background-color: red; */
  margin-right: 20px;
  /* margin-top: 10px; */
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

.btn-like {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  bottom: 50px;
  right: 50px;
}
/* li {
  display: inline;
} */

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* p::first-line {
  color: red;
} */

/* to select adjacent element or siblings*/
/* h3 + p:first-line {
  color: red;
} */

h2 {
  position: relative;
  /* background-color: red; */
}

h2::after {
  content: "Top";
  background-color: #ffe70e;
  color: #444;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

/* Float  */

/* .author-img {
  float: left;
  margin-right: 50px;
  margin-top: 15px;
}

.author {
  float: left;
  margin-top: 25px;
}

h1 {
  float: left;
  margin-right: 10px;
}

nav {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

article {
  width: 840px;
  float: left;
}

aside {
  width: 300px;
  float: right;
}

.copyright {
  clear: both;
  padding: 20px;
}

.related {
  margin: 0;
  padding: 20px 40px;
} */

/* flexbox*/

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.related-author {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}
